body {
   
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: whitesmoke;
    background: #0D1017;
}
h1 {
    width: 650px;
    font-family: 'Anton', bold, sans-serif;
    font-size: 60px;
    float: left;
}
nav a {
    float: left;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    height: 60px;
    padding: 30px;
    text-decoration: none;
   color: whitesmoke;
    text-align: center;
}
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}
#landing img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.about {
    width: 1200px;
    margin-left: 100px;
    margin-bottom: 100px;
    float: left;
}
.about img {
    width: 546px;
    height: 364px;
    float: left;
}
.about h2 {
    width: 600px;
    float: left;
    font-family: 'Anton', bold, sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.about p {
    width: 450px;
    float: left;
    text-align: center;
    margin: 0 75px;
    padding-top: 10px;
}
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

#anchors {
    background-color: orange;
    width:100%;
    float:left;
}

#anchor img {
    float:left;
    
    
    