body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: whitesmoke;
    background: #040001;
}

/*Change font color of navbar and navbar brand*/

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #CF0000;
}
.opaque-navbar {
    background-color: rgba(0, 0, 0, 0);
    /*     Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 80px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}
.opaque-navbar.opaque {
    background-color: #010001;
    height: 80px;
    transition: background-color .5s ease 0s;
}
.navbar-header {
    width: 98%;
    font-family: 'Oswald', sans serif;
    font-size: 20px;
    margin: 1%;
}
.navbar-brand {
    font-family: 'Oswald', sans serif;
    font-size: 60px;
}
.btn {
    margin-right: 20px;
}
.hero-unit {
    background-image: url(../img/capsula-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin-bottom: 5%;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: #CF0000;
    text-align: center;
}
.pleased {
    margin-bottom: 10%;
    text-align: center;
    margin-right: 2%;
}
.about {
    text-align: justify;
}
.anchors {
    text-align: center;
    margin-bottom: 10%;
}
.anchors a {
    text-decoration: none;
}
.watch {
    background-color: #CF0000;
    text-align: center;
    height: 500px;
    margin: 10% 0;
}
.watch h2 {
    margin-top: 10%;
    color: black;
}
.carousel-caption p {
    display: inline-block;
    background-color: black;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    padding: 5px;
    top: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    border: 5px solid black;
}
.item img {
    max-height: 550px;
    width: 100%;
}
.carousel {
    margin-bottom: 10%;
}
